* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
/* prima parte dell'header e centratura testo */
header{
    padding: 10px;
}
img{
    vertical-align: middle;
}
.title{
    font-size: 40px;
    display: inline;
    vertical-align: middle;
}
/* inzio della parte main  */
main{
    background-color: rgb(222, 212, 212);
    display: inline-block;
    width: 100%;
}
.container{
    background-color: white;
    margin: 30px auto 10px;
    max-width: 1000px;
    padding: 10px;
    border-radius: 10px;
}
.box{
   margin: 20px 30px; 
}
.box_top{
    padding: 10px;
    margin: 5px 30px 2px;
}
/* prima parte dei bottoni colorati  */

.blue{
    background-color: rgb(134, 134, 248);
    
}
.blue_add{
    width: 90px;
    height: 40px;
    display: inline-block;
    padding: 12px;
    background-color: rgb(134, 134, 247);
    color: white;
    border-radius: 10px;
}
.white_add{
    display: inline-block;
    width: 105px;
    height: 40px;
    padding: 10px;
    color: antiquewhite;
    border-radius: 10px;
    border: 1px solid antiquewhite;
}


/* seconda parte con le liste  */

li{
    text-decoration: none;
    padding: 5px;
    display:block;
}
span{
    vertical-align: middle;
}
.false{
    color: red;
}
.true{
    border: 2px solid green;
    color: green;
    border-radius:5px; ;
}

/* sezione con i vari bottoni colorati  */
.side_button{
    width: 53px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 2px;
}
#editorial{
    background-color: blueviolet;
    
    
}
#q1Goal{
     background-color: blue;
}
#recruiting{
    background-color: red;
}
#mobile{
    background-color: yellow;
}
#website{
    background-color: green;
}
#sales{
    background-color: orange;
}
